﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@



    <div class="clearfix"></div>

    <div>
        <h3>收款報表</h3>
    </div>
    <div id="showCreditReport" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    <div class="row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>
                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                    <!-- <hr />-->

                                    <div class="form-horizontal row">
                                        <div class="row">

                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">乘車的開始日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QSDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">乘車的結束日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QEDate" type="text" value="">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-1 ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr />
                                    <div class="table-responsive" style="max-height:450px;">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    @*(I→回國/O→出國)*@
                                                    <th class="sortable sort-alpha" orderfield="" style="width:30px"></th>
                                                    <th class="sortable sort-alpha" orderfield="tdate" style="">乘車日期</th>
                                                    <th class="sortable sort-alpha" orderfield="ttime" style="">乘車時間</th>
                                                    <th class="sortable sort-alpha" orderfield="ccSno" t="">CallCar單號</th>
                                                    <th class="sortable sort-alpha" orderfield="sno" t="">艾雪單號 </th>
                                                    <th class="sortable sort-alpha" orderfield="Apct" t="">總乘車人數</th>
                                                    <th class="sortable sort-alpha" orderfield="pct" t="">乘車人數</th>
                                                    <th class="sortable sort-alpha" orderfield="bct" t="">行李件數</th>
                                                    <th class="sortable sort-alpha" orderfield="abct" t="">臨加行李</th>
                                                    <th class="sortable sort-alpha" orderfield="cpn" t="">優惠碼</th>
                                                    <th class="sortable sort-alpha" orderfield="pr" t="">小計</th>
                                                    <th class="sortable sort-alpha" orderfield="realpr" t="">實收金額</th>
                                                    <th class="sortable sort-alpha" orderfield="stage" t="">刷卡結果 </th>
                                                    <th class="sortable sort-alpha" orderfield="cancelT" t="">取消時間 </th>
                                                    <th class="sortable sort-alpha" orderfield="memo" t="">備註 </th>
                                                    <th style="width:60px"></th>
                                                    <th style="width:60px"></th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr class="hide ">
                                                    <th>
                                                        <input class="form-control " name="QSDate" type="text">
                                                    </th>
                                                    <th>
                                                        <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /tile body -->
                                <!-- tile footer -->
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <ul class="pagination pagination-xs nomargin pagination-custom pageFrame"><li class="active" onclick="setPage('list', 1)"><a>1</a></li></ul>
                                    </div>

                                    <div class="col-sm-4 text-center hide">
                                        <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                    </div>

                                    <div class="col-sm-6 text-right sm-center">

                                        <div class="input-group table-options pull-right">
                                            <input class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" placeholder="go to page..">
                                            <span class="input-group-btn pull-left">
                                                <button type="button" class="btn btn-primary buttonGoToPage" t="">GO</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="input-group table-options pull-right">
                                <label for="fullname" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9"></div>
                                <div class="col-sm-9">
                                    <button type="button" class="btn btn-primary buttonGoPay" onclick="goExcel2()">匯出EXCEL</button>
                                </div>

                            </div>
                            <iframe id="fileHolder" hidden></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>

                var markers = {};
                var tmarkers = [];

                var itemData;

                var listData;

                var isClickCheckbox = false;
                var isClickView = false;

                function getListHtml(data,page) {
                    listData = data;
                    var now = (page-1) * 10;
                    var html = '';
                    var bindall = "";
                    var j = 0;
                    j = parseInt(j) + parseInt(now);
                    for (var i = j; i < data.length; i++) {
                        var x = data[i];
                        console.log(i);

                        if (i >= page * 10) {
                            break;
                        }
                        var num = data.length;

                        html += '<tr >';
                        html += '<td>' + '</td>';
                        html += '<td>' + v(x['tdate']) + '</td>';
                        html += '<td>' + v(x['ttime']) + '</td>';
                        html += '<td>' + v(x['ccSno']) + '</td>';
                        html += '<td>' + v(x['sno']) + '</td>';
                        html += '<td>' + v(x['Apct']) + '</td>';
                        html += '<td>' + v(x['pct']) + '</td>';
                        html += '<td>' + v(x['bct']) + '</td>';
                        html += '<td>' + v(x['abct']) + '</td>';
                        html += '<td>' + v(x['cpn']) + '</td>';
                        html += '<td>' + v(x['pr']) + '</td>';
                        html += '<td>' + v(x['realpr']) + '</td>';

                        if (v(x['stage']) == "0")
                            html += '<td>' + "尚未刷卡" + '</td>';
                        else if (v(x['stage']) == "1")
                            html += '<td>' + "刷卡成功" + '</td>';
                        else if (v(x['stage']) == "X")
                            html += '<td>' + "刷卡失敗" + '</td>';
                        else if (v(x['stage']) == "2")
                            html += '<td>' + "和相刷卡" + '</td>';
                        else
                            html += '<td>' + v(x['stage']) + '</td>';
                        html += '<td>' + v(x['cancelT']) + '</td>';
                        html += '<td>' + v(x['memo']) + '</td>';
                        html += '</tr>';


                    }

                    if (html == '') {
                        html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
                    }
                    return html;

                }


                $(function () {

                    //init date
                    //var currentDate = $.datepicker.formatDate("yy/mm/dd", new Date());

                    //$('#RepStarDateTime').val(currentDate);
                    //$('#RepEndDateTime').val(currentDate);

                    //$('#SignedStarDateTime').val(currentDate);
                    //$('#SignedEndDateTime').val(currentDate);

                    //init list page
                    initListPage();

                    //get list when ready
                    getList();

                });


                function getList() {

                    var sheetTypes = '';

                    $('.sheetTypes:checked').each(function () {

                        sheetTypes += $(this).val() + ',';
                    });

                    $('#sheetTypes').val(sheetTypes);

                    beforeGetList(listContainerID);


                    var searchParameters = $('#' + listContainerID).find('.search').serialize();

                    if (typeof (listCondition[listContainerID]) == 'undefined') {
                        //url = baseUrl + '/' + controllerName + '/getList';

                        url = getUrl('GetList');
                    } else {
                        url = listCondition[listContainerID]['getListUrl'];
                    }

                    var currentPage = listCondition[listContainerID]['currentPage'];
                    var orderField = listCondition[listContainerID]['orderField'];
                    var orderType = listCondition[listContainerID]['orderType'];
                    var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


                    var searchJson = getJsonString(listContainerID, 'search');

                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: {
                            page: currentPage,
                            orderField: orderField,
                            orderType: orderType,
                            itemPerPage: itemPerPage,
                            searchJson: searchJson
                        },
                        success: getListRespond
                    });

                }


                function toTimestamp(strDate) {
                    var datum = Date.parse(strDate);
                    return datum / 1000;
                }


                function wtCreditD(id, e) {
                    var url = baseUrl + '/' + controllerName + '/wtCreditD';
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: {
                            ID: id
                        },
                        success: function (r) {
                            var data = r['data'];
                            var content = "";
                            if (r['data'] != "nodata") {
                                for (var i in data) {
                                    var x = data[i];
                                    var cno = x['CardNo'];
                                    content = content + x['Status'] + " // " + x['Message'] + "\n";
                                    //(x['Status'] + " " + x['Message']);
                                }
                                alert(cno + "\n" + content);
                            }
                            else {
                                alert("nodata");
                            }

                        }
                    });

                }

                function ValidateNumber(e, pnumber) {
                    if (!/^\d+$/.test(pnumber)) {
                        e.value = /^\d+/.exec(e.value);
                    }
                    return false;
                }

                function goExcel2(){
                    var searchJson = getJsonString(listContainerID, 'search');
                    $.ajax({
                        url: "@Url.Action("CreateExcel")",
                        async: true,
                    type: "POST",
                    traditional: true,
                    cache: false,
                    data: {
                        searchJson: searchJson
                    },
                    success: function (reportHeader) {
                        $("#fileHolder")
                            .attr('src',
                            '@Url.Action("ExcelResult")?reportHeader=' +
                            reportHeader);
                    }
                });
                }
    </script>
