﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>車輛資料</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <br>
                    <form id="form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="CarNo" name="CarNo" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車隊編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="FleetID" name="FleetID"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車型
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="CarType" name="CarType"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                廠牌
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Brand" name="Brand"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                型號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Model" name="Model" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                出廠日
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ManufactureDate" name="ManufactureDate"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                顏色
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Color" name="Color"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                排氣量
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Displacement" name="Displacement"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                配屬司機
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="DriverID" name="DriverID"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                是否排班
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ScheduleFlag")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                建立日期
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="CreateTime" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                異動時間
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="UpdTime" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                       

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary ordergoEdit" onclick="goEdit()">編輯完成</button>
                                <button type="button" class="btn btn-primary goback" onclick="goback()">返回</button>
                                @*<button class="btn btn-primary" type="button">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var data = @Html.Raw(ViewBag.dataText);

    function goEdit()
    {
        var CarNo =  $('#CarNo').val();
        var FleetID =  $('#FleetID').val();
        var CarType =  $('#CarType').val();
        var Brand =  $('#Brand').val();
        var ManufactureDate =  $('#ManufactureDate').val();
        var Model =  $('#Model').val();
        var Color =  $('#Color').val();
        var Displacement =  $('#Displacement').val();
        var DriverID =  $('#DriverID').val();
        var ScheduleFlag =  $('#ScheduleFlag :selected').val();;
        url = getUrl('ItemEdit');
       $.ajax({
           url: url,
           type: 'post',
           dataType: 'json',
           data: {
               id : CarNo,
               FleetID : FleetID,
               CarType : CarType,
               Brand : Brand,
               ManufactureDate : ManufactureDate,
               Model : Model,
               Color : Color,
               Displacement : Displacement,
               DriverID : DriverID,
               ScheduleFlag : ScheduleFlag
           },
           success: function (r) {
               var data = r['Message'];

               if (data == "Success")
               {
                   alert("編輯完成!!");
                   goback();
               }
               else
               {
                   alert("錯誤代號:"+data);
               }                 
           },
           error: function (jqXHR, textStatus,  errorThrown) {
               alert("系統錯誤!!"+jqXHR +" "+ textStatus+" "+  errorThrown);
           }
       });
    }
    function goback() {
        window.location.href = '/Car';
    }
</script>