﻿
<script>


    var map;
    var heatmap;
    var bounds;

    function initMap() {
        bounds = new google.maps.LatLngBounds();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 24,
                lng: 121.644
            },
            zoom: 8

            /*
            styles: [{
                featureType: 'all',
                stylers: [{
                    saturation: -80
                }]
            }, {
                featureType: 'road.arterial',
                elementType: 'geometry',
                stylers: [{
                    hue: '#00ffee'
                }, {
                    saturation: 50
                }]
            }, {
                featureType: 'poi.business',
                elementType: 'labels',
                stylers: [{
                    visibility: 'off'
                }]
            }]*/

        });

    }

</script>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>派車管理</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@



    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Plain Page</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>

                    </div>*@
                <div class="x_content">

                    <div class=" row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>

                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                   <!-- <hr />-->

                                    <div class="form-horizontal row">
                                        <div class="row">

                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">派車的開始日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QSDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">派車的結束日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QEDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-7 col-sm-7 col-xs-7">派車單號查詢</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="DispatchNo" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-7 col-sm-7 col-xs-7">訂單編號查詢</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="OrderNo" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-6 col-sm-6 col-xs-6">司機查詢</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="DriverID" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-6 col-sm-5 col-xs-6">車號查詢</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="CarNo" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-1 ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>
                                     @*   <div class="col-md-12">

        <div id="map" style="border:1px #ccc solid; border-radius:10px:100%;height:400px;"></div>

        <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBNfbBmMtHh-liPkPDJ2H_liM4RCUohW10&signed_in=true&libraries=visualization&callback=initMap"></script>

    </div>
                                    *@
                                    </div>

                                    <hr />
                                    <div class="table-responsive" style="max-height:320px;">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    @*(I→回國/O→出國)*@
                                                    <th class="sortable sort-alpha" orderfield="" style="width:30px">
                                                        <!--<input id="allvalue" name="dno" class="rowCheckbox" value="" type="checkbox" onclick="checkALLItem(this)">
                                                        <label class="btn btn-xs btn-primary"><input name="clickAll" id="clickAll" type="checkbox"> 全選</label>-->
                                                    </th>
                                                    <th class="sortable sort-alpha" orderfield="dno" style="">派遣單號</th>
                                                    <th class="sortable sort-alpha" orderfield="td" t="">搭乘日期</th>
                                                    <th class="sortable sort-alpha" orderfield="tt" t="">服務時段 </th>
                                                    <th class="sortable sort-alpha" orderfield="poolflag" t="">專/共 </th>
                                                    <th class="sortable sort-alpha" orderfield="st" t="">出回國  </th>
                                                    <th class="sortable sort-alpha" orderfield="pc" t="">人數 </th>
                                                    <th class="sortable sort-alpha" orderfield="bc" t="">行李數 </th>
                                                    <th class="sortable sort-alpha" orderfield="sc" t="">停靠數 </th>
                                                    <th class="sortable sort-alpha" orderfield="cp" t="">車隊 </th>
                                                    <th class="sortable sort-alpha" orderfield="dr" t="">司機 </th>
                                                    <th class="sortable sort-alpha" orderfield="cno" t="">車號 </th>
                                                    <th class="sortable sort-alpha" orderfield="dp" t="">司機手機 </th>
                                                    <th class="sortable sort-alpha" orderfield="ct" t="">車型 </th>
                                                    <th style="width:60px"></th>

                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr class="hide ">
                                                    <th>
                                                        <input class="form-control " name="QSDate" type="text">
                                                    </th>
                                                    <th>
                                                        <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>
                                                        
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /tile body -->
                                <!-- tile footer -->
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <ul class="pagination pagination-xs nomargin pagination-custom pageFrame"><li class="active" onclick="setPage('list', 1)"><a>1</a></li></ul>
                                    </div>

                                    <div class="col-sm-4 text-center hide">
                                        <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                    </div>

                                    <div class="col-sm-6 text-right sm-center">

                                        <div class="input-group table-options pull-right">
                                            <input class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" placeholder="go to page..">
                                            <span class="input-group-btn pull-left">
                                                <button type="button" class="btn btn-primary buttonGoToPage" t="">GO</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" style="width:400px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">變更時間</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control dis datepickertime" id="CHDate" name="CHDate" type="text" value="">
                                            <p id="goChange"></p>
                                        </div>
                                    </div>
                                </div>
                                <div id="bindbt" class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Modal2 -->
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog" style="width:400px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">轉單</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            派車單號: <input class="form-control search" id="tod" name="tod" type="text">
                                            <p id="gotod"></p>
                                        </div>
                                    </div>
                                </div>
                                <div id="bindbt" class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<script>

    var markers = {};
    var tmarkers = [];

    var itemData;

    function setMapOnAll(map) {
        //console.log("how many Marker: " + tmarkers.length);
        for (var i = 0; i < tmarkers.length; i++) {
            tmarkers[i].setVisible(false);
        }
        tmarkers = [];
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setMapOnAll(null);
    }

    function checkItem(e) {

        var dno = $(e).val();

        var url = getUrl('GetDispatchLocation');

        if (typeof (markers[dno + '-0']) == 'undefined' || typeof (markers[dno + '-1']) == 'undefined') {

            if ($(e).prop('checked')) {

                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        dno: dno
                    },
                    success: function (r) {

                        var data = JSON.parse(r.data);

                        itemData = data;

                        var RtnObject = data.RtnObject;

                        var dno = RtnObject.dno + '';

                        var Service = RtnObject.Service;
                        var dnocolor = pinSymbol();
                        for (var i in Service) {

                            var x = Service[i];

                            var lat = x.ServiceGPS['lat'];
                            var lng = x.ServiceGPS['lng'];

                            //var markerIndex = dno;
                            var markerIndex = dno + '-' + i;

                            var myLatlng = new google.maps.LatLng(lat, lng);

                            markers[markerIndex] = new google.maps.Marker({
                                position: myLatlng,
                                map: map,
                                title: dno,
                                label: "●",
                                icon: dnocolor
                                //icon: pinSymbol(colorGroup[group])
                            });
                            var countM = markers[markerIndex];
                            tmarkers.push(countM);
                            //console.log("ADD Marker: " + markerIndex);
                            var html = '';
                            html += '<div>乘客人數: ' + x.PassengerCnt + '</div>';
                            html += '<div>地址: ' + x.MainAddress + '</div>';
                            html += '<div>行李數量: ' + x.BaggageCnt + '</div>';
                            html += '<div>預計服務時間: ' + x.ScheduleTime + '</div>';

                            //addInfoWindow(markers[dno], html);
                            addInfoWindow(markers[markerIndex], html);

                            markers[markerIndex].setMap(map);

                            centerFitMarkers();

                        }

                    }

                });

            } else {

                markers[dno + '-0'].setVisible(false);
                markers[dno + '-1'].setVisible(false);
                if (typeof (markers[dno + '-2']) != 'undefined')
                    markers[dno + '-2'].setVisible(false);
                //clearMarkers();

                centerFitMarkers();


            }
        } else {
            //console.log("why: " + markers[dno + '-0']);
            if ($(e).prop('checked')) {
                //markers[dno].setVisible(true);
                markers[dno + '-0'].setVisible(true);
                markers[dno + '-1'].setVisible(true);
                if (typeof (markers[dno + '-2']) != 'undefined')
                    markers[dno + '-2'].setVisible(true);
            } else {

                //markers[dno].setVisible(false);

                markers[dno + '-0'].setVisible(false);
                markers[dno + '-1'].setVisible(false);
                if (typeof (markers[dno + '-2']) != 'undefined')
                    markers[dno + '-2'].setVisible(false);


            }
            //clearMarkers();

            centerFitMarkers();
        }





    }


    function checkALLItem(e) {
        clearMarkers();
        var odata = $(e).val();
        var dno = odata.split(",");
        var i = 0;

        for (var i in dno) {
            var x = dno[i];

            i++;
            if (i > 50) {
                break;
            }
            var url = getUrl('GetDispatchLocation');

            if (typeof (markers[x + '-0']) == 'undefined' || typeof (markers[x + '-1']) == 'undefined') {

                if ($(e).prop('checked')) {

                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: {
                            dno: x
                        },
                        success: function (r) {

                            var data = JSON.parse(r.data);

                            itemData = data;

                            var RtnObject = data.RtnObject;

                            var dno = RtnObject.dno + '';

                            var Service = RtnObject.Service;
                            var dnocolor = pinSymbol();
                            for (var i in Service) {

                                var x = Service[i];

                                var lat = x.ServiceGPS['lat'];
                                var lng = x.ServiceGPS['lng'];

                                //var markerIndex = dno;
                                var markerIndex = dno + '-' + i;

                                var myLatlng = new google.maps.LatLng(lat, lng);

                                markers[markerIndex] = new google.maps.Marker({
                                    position: myLatlng,
                                    map: map,
                                    title: dno,
                                    label: "●",
                                    icon: dnocolor
                                    //icon: pinSymbol(colorGroup[group])
                                });
                                var countM = markers[markerIndex];
                                tmarkers.push(countM);
                                var html = '';
                                html += '<div>乘客人數: ' + x.PassengerCnt + '</div>';
                                html += '<div>地址: ' + x.MainAddress + '</div>';
                                html += '<div>行李數量: ' + x.BaggageCnt + '</div>';
                                html += '<div>預計服務時間: ' + x.ScheduleTime + '</div>';

                                //addInfoWindow(markers[dno], html);
                                addInfoWindow(markers[markerIndex], html);

                                markers[markerIndex].setMap(map);

                                centerFitMarkers();

                            }

                        }

                    });

                } else {



                    if (typeof (markers[x + '-0']) != 'undefined')
                    {
                        markers[x + '-0'].setVisible(false);
                        //markers[x + '-1'].setVisible(false);

                        //centerFitMarkers();
                    }
                    if (typeof (markers[x + '-1']) != 'undefined') {
                        //markers[x + '-0'].setVisible(false);
                        markers[x + '-1'].setVisible(false);

                        //centerFitMarkers();
                    }
                    if (typeof (markers[x + '-2']) != 'undefined') {
                        //markers[x + '-0'].setVisible(false);
                        //markers[x + '-1'].setVisible(false);
                        markers[x + '-2'].setVisible(false);
                        //centerFitMarkers();
                    }
                    //clearMarkers();

                    centerFitMarkers();
                }
            } else {

                if ($(e).prop('checked')) {
                    //markers[dno].setVisible(true);
                    markers[x + '-0'].setVisible(true);
                    markers[x + '-1'].setVisible(true);
                    if (typeof (markers[x + '-2']) != 'undefined')
                    markers[x + '-2'].setVisible(true);
                } else {

                    //markers[dno].setVisible(false);

                    markers[x + '-0'].setVisible(false);
                    markers[x + '-1'].setVisible(false);
                    if (typeof (markers[x + '-2']) != 'undefined')
                    markers[x + '-2'].setVisible(false);


                }
                //clearMarkers();

                centerFitMarkers();
            }

        }
    }

    function centerFitMarkers() {
        var bounds = new google.maps.LatLngBounds();
        for (var i in markers) {
            bounds.extend(markers[i].getPosition());
        }
        map.fitBounds(bounds);
    }




    function addInfoWindow(marker, message) {

        var infoWindow = new google.maps.InfoWindow({
            content: message
        });

        previousInfoWindow = infoWindow;

        google.maps.event.addListener(marker, 'click', function () {

            if (previousInfoWindow != null) {
                previousInfoWindow.close();
            }

            previousInfoWindow = infoWindow;

            infoWindow.open(map, marker);
        });
    }

    var listData;

    var isClickCheckbox = false;
    var isClickView = false;


    function getListHtml(data,page) {
        listData = data;
        console.log("getListHtml");
        console.log(data.length);
        var now = (page - 1) * 10;

        var html = '';
        var bindall = "";
        var j = 0;
        j = parseInt(j) + parseInt(now);
        for (var i = j;  i < data.length; i++) {
            /*var j = parseInt(i) + parseInt(now);
            console.log(j);


            i++;*/
            var x = data[i];
            if (i >= page * 10 ) {
                break;
            }
            var num = data.length;

            if (i == num)
                bindall = bindall + x['dno'] ;
            else
                bindall = bindall + x['dno'] + ",";

            html += '<tr >';

            //html += '<td><input name="ReportID" value="' + v(x['ReportID']) + '-' + v(x['ShtNo']) + '" style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';

            //html += '<td><label class="btn btn-xs btn-primary"><input name="dno" class="rowCheckbox" value="' + v(x['dno']) + '" type="checkbox" onclick="checkItem(this)"></label></td>';
            html += '<td class="group' + v(x['dno']) + '"></td>';
            html += '<td>' + v(x['dno']) + '</td>';
            html += '<td>' + v(x['td']) + '</td>';
            html += '<td>' + v(x['tt']) + '</td>';

            if (v(x['poolflag']) == "P") //專接共乘
                html += '<td>' + "專接" + '</td>';
            else if (v(x['poolflag']) == "S")
                html += '<td>' + "共乘" + '</td>';
            else
                html += '<td>' + "未知" + '</td>';


            if (v(x['st']) =="I")
                html += '<td>' + "回國" + '</td>';
            else if (v(x['st']) == "O")
                 html += '<td>' + "出國" + '</td>';
            else
                html += '<td>' + "  " + '</td>';
            html += '<td>' + v(x['pc']) + '</td>';
            html += '<td>' + v(x['bc']) + '</td>';
            html += '<td>' + v(x['sc']) + '</td>';
            html += '<td>' + v(x['cp']) + '</td>';
            html += '<td>' + v(x['dr']) + '</td>';
            html += '<td>' + v(x['cno']) + '</td>';
            html += '<td>' + v(x['dp']) + '</td>';
            html += '<td>' + v(x['ct']) + '</td>';

            html += '<td><a href="' + getUrl('Item?id=' + x['dno']) + '" class="btn btn-xs btn-primary">編輯</a></td>';
            //html += '<td><a href="' + getUrl('Item?id=' + x['ReportID']) + '"><img src="' + baseUrl + '/Content/images/icon_search.png"></a></td>';
            //html += '<td>';
            //html += '<a class="btn btn-default btn-success btn-xs update" href="' + baseUrl + '/' + controllerName + '/update?id=' + x['id'] + '" t>Edit</a> ';
            //html += '<button type="button" class="btn btn-danger btn-xs delete" onclick="deleteItem(' + x['ID'] + ', this)" t>刪除</button> ';
            //html += '</td>';
            html += '</tr>';

            html +=' <tr class="group' + v(x['dno']) + ' ttil">';
            html += ' <th class="sortable sort-alpha" orderfield="" style=""></th>';
            html += ' <th class="sortable sort-alpha" orderfield="rno" style="color: white;">訂單編號</th>';
            html += ' <th class="sortable sort-alpha" orderfield="pname" style="color: white;">乘車人姓名/電話</th>';
            html += ' <th class="sortable sort-alpha" orderfield="timeseg" style="color: white;">預約時間</th>';
            html += ' <th class="sortable sort-alpha" orderfield="SFT" style="color: white;">航班時間</th>';
            html += ' <th class="sortable sort-alpha" orderfield="pcnt" style="color: white;">人數</th>';
            html += ' <th class="sortable sort-alpha" orderfield="bcnt" style="color: white;">行李數</th>';
            html += ' <th class="sortable sort-alpha" orderfield="AST" style="color: white;">服務時間</th>';
            html += ' <th class="sortable sort-alpha" orderfield="paddress" style="color: white;">服務地址</th>';
            html += ' <th class="sortable sort-alpha" orderfield="none" style="color: white;"></th>';
            html += ' <th class="sortable sort-alpha" orderfield="none" style="color: white;"></th>';
            html += ' <th class="sortable sort-alpha" orderfield="none" style="color: white;"></th>';
            html += '</tr>';
            html += ' <tr id="' + v(x['dno']) + '" class="group' + v(x['dno']) + '">';
            html += '</tr>';

            getchild(v(x['dno']));


        }
        $('#allvalue').val(bindall);

        if (html == '') {
            html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
        }
        return html;

    }

    $(function () {

        //init date
        //var currentDate = $.datepicker.formatDate("yy/mm/dd", new Date());

        //$('#RepStarDateTime').val(currentDate);
        //$('#RepEndDateTime').val(currentDate);

        //$('#SignedStarDateTime').val(currentDate);
        //$('#SignedEndDateTime').val(currentDate);


        //init list page
        initListPage();

        //get list when ready
        getList();


    });


    function getList() {

        /*
        var RepStarDateTime = $('#RepStarDateTime').val();
        var RepEndDateTime = $('#RepEndDateTime').val();

        var SignedStarDateTime = $('#SignedStarDateTime').val();
        var SignedEndDateTime = $('#SignedEndDateTime').val();

        RepStarDateTime = $.trim(RepStarDateTime);
        RepEndDateTime = $.trim(RepEndDateTime);
        SignedStarDateTime = $.trim(SignedStarDateTime);
        SignedEndDateTime = $.trim(SignedEndDateTime);


        if ((RepStarDateTime == '' && RepEndDateTime == '') && (SignedStarDateTime == '' && SignedEndDateTime == '')) {
            alert('查詢至少要有報告日期或簽章日期其中一項喔');
            return;
        }
        */

        //init sheetTypes

        var sheetTypes = '';

        $('.sheetTypes:checked').each(function () {

            sheetTypes += $(this).val() + ',';
        });

        $('#sheetTypes').val(sheetTypes);

        beforeGetList(listContainerID);


        var searchParameters = $('#' + listContainerID).find('.search').serialize();

        if (typeof (listCondition[listContainerID]) == 'undefined') {
            //url = baseUrl + '/' + controllerName + '/getList';

            url = getUrl('GetList');
        } else {
            url = listCondition[listContainerID]['getListUrl'];
        }

        var currentPage = listCondition[listContainerID]['currentPage'];
        var orderField = listCondition[listContainerID]['orderField'];
        var orderType = listCondition[listContainerID]['orderType'];
        var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


        var searchJson = getJsonString(listContainerID, 'search');

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                page: currentPage,
                orderField: orderField,
                orderType: orderType,
                itemPerPage: itemPerPage,
                searchJson: searchJson
            },
            success: getListRespond2
        });

    }

    function getchild(id)
    {
        console.log("getchild");
        url = getUrl('Getchild');
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                id: id
            },
            success: function (r)
            {
               // console.log("success = " + JSON.stringify(r));
                //var data = JSON.stringify(r)

                var data = r['child'];
                var html = "";
                for (var i in data) {
                    var y = data[i];
                    i++;

                    if (i> 100) {
                        break;
                    }
                    var j = i - 1;
                    var rid = JSON.stringify(y['rno' + j]);
                    var RTime = JSON.stringify(v(y['AST' + j]));
                    //console.log(RTime);
                    html += ' <tr  class="group' + id + ' child" style="display: none;">';

                        html += '<td></td>';
                        html += '<td id="">' + v(y['rno'+j]) + '</td>';
                    // html += '<td>' + v(y['tdate' +j]) + '</td>';
                        html += '<td>' + '<p">' + v(y['pname' +j]) + "<br>" + v(y['pphone' +j]) + '</p>' + '</td>';
                    //html += '<td>' + v(y['timeseg' + j]) + '</td>';--預約時段
                        html += '<td>' + v(y['timeseg' + j]) + '</td>';
                        html += '<td>' + v(y['SFT' + j]) + '</td>';
                        html += '<td>' + v(y['pcnt' + j]) + '</td>';
                        html += '<td>' + v(y['bcnt' + j]) + '</td>';
                        html += '<td>' + v(y['AST' + j]) + '</td>';
                        html += '<td>' + v(y['paddress' + j]) + '</td>';
                        html += '<td><button type=\"button\" class=\"btn btn-xs btn-primary\" onclick=gosplitDispatch('+id+',' + rid + ')  >拆單</button></td> ';
                        html += '<td><button type=\"button\" class=\"btn btn-xs btn-primary\" onclick=btnShow2(' + id + ',' + rid + ') >轉單</button></td> ';
                        html += '<td><button type=\"button\" class=\"btn btn-xs btn-primary\" onclick=\"btnShow(\'' + id + '\',\'' + v(y['rno' + j]) + '\',\'' + v(y['ASTF' + j]) +'\',\''+ v(y['AST' + j]).toString() + '\' )\" >變更時間</button></td> ';
                        html += '</tr>';
                        //html += ' <tr  class="group' + id +j+ '">';
                       // html += '<td>' + v(y['paddress' + j]) + '</td>';
                        //html += '</tr>';

                }

                $("#" + id).replaceWith(html);

            }
        });



    }

    function CreateGroup(group_name) {

        // Create Button(Image)
        $('td.' + group_name).prepend("<img class='" + group_name + " button_closed'> ");
        // Add Padding to Data
        $('tr.' + group_name).each(function () {
            var first_td = $(this).children('td').first();
            var padding_left = parseInt($(first_td).css('padding-left'));
            $(first_td).css('padding-left', String(padding_left + 25) + 'px');
        });
        RestoreGroup(group_name);

        // Tie toggle function to the button
        $('img.' + group_name).click(function () {
            ToggleGroup(group_name);
        });
    }

    function ToggleGroup(group_name) {
        ToggleButton($('img.' + group_name));
        RestoreGroup(group_name);
    }

    function RestoreGroup(group_name) {
        if ($('img.' + group_name).hasClass('button_open')) {
            // Open everything
            $('tr.' + group_name).show();

            // Close subgroups that been closed
            $('tr.' + group_name).find('img.button_closed').each(function () {
                sub_group_name = $(this).attr('class').split(/\s+/)[0];
                //console.log(sub_group_name);
                RestoreGroup(sub_group_name);
            });
        }

        if ($('img.' + group_name).hasClass('button_closed')) {
            // Close everything
            $('tr.' + group_name).hide();
        }
    }

    function ToggleButton(button) {
        $(button).toggleClass('button_open');
        $(button).toggleClass('button_closed');
    }

    function gosplitDispatch(Did, Rid) {
        var someSessionVariable = '@Session["userID"]';
        if (someSessionVariable == "20160001" || someSessionVariable == "20170007") {
            if (confirm("是否修改")) {
                url = getUrl('gosplitDispatch');
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        Did: Did,
                        Rid: Rid
                    },
                    success: function (r) {
                        alert(r['Status']);
                        $("#myModal .close").click()
                        getList();
                    },
                    error: function () {
                        alert("系統錯誤!!");
                    }
                });
            }
        }
        else {
            alert("權限不足!");
        }
    }

    function gochgServeTime(Did, Rid) {
        var someSessionVariable = '@Session["userID"]';
        if (someSessionVariable == "20160001" || someSessionVariable == "20170007") {
            if (confirm("是否修改")) {
                var RepStarDateTime = $('#CHDate').val();
                url = getUrl('gochgServeTime');
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        Did: Did,
                        Rid: Rid,
                        Time: RepStarDateTime
                    },
                    success: function (r) {
                        var data = r['data'];
                        var x = data[0];
                        alert(x['Message']);
                        $("#myModal .close").click()
                        getList();
                    },
                    error: function () {
                        alert("系統錯誤!!");
                    }
                });
            }
        }
        else {
            alert("權限不足!");
        }
    }

    function goCbDispatch(Did, Rid) {
        var someSessionVariable = '@Session["userID"]';
        if (someSessionVariable == "20160001" || someSessionVariable == "20170007")
        {
            if (confirm("是否修改")) {
                var ToDid = $('#tod').val();
                url = getUrl('goCbDispatch');
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        fromd: Did,
                        Rid: Rid,
                        tod: ToDid
                    },
                    success: function (r) {
                        var data = r['data'];
                        var x = data[0];
                        alert(x['Message']);
                        $("#myModal2 .close").click()
                        //$('#myModal2').modal('hide');
                        getList();
                    },
                    error: function () {
                        alert("系統錯誤!!");
                    }
                });
            }
        }
        else
        {
            alert("權限不足!");
        }
    }

    function btnShow(id, rid, RDate, RTime) {
        var someSessionVariable = '@Session["userID"]';
        if (someSessionVariable == "20160001" || someSessionVariable == "20170007") {
            var RRid = JSON.stringify(rid);
            var NTime = JSON.stringify(RTime);
            //console.log(NTime);
            $('#CHDate').val(RDate + " " + RTime);
            $("#goChange").empty();
            $("#goChange").append('<button type="button" class="btn btn-primary" onclick=gochgServeTime(' + id + ',' + RRid + ') >修改</button>');

            $('#myModal').modal('show');
        }
        else {
            alert("權限不足!");
        }
    }

    function btnShow2(id, rid) {
        var someSessionVariable = '@Session["userID"]';
        if (someSessionVariable == "20160001" || someSessionVariable == "20170007") {
            $('#tod').val("");
            var RRid = JSON.stringify(rid);
            $("#gotod").empty();
            $("#gotod").append('<button type="button" class="btn btn-primary" onclick=goCbDispatch(' + id + ',' + RRid + ') >修改</button>');

            $('#myModal2').modal('show');
        }
        else {
            alert("權限不足!");
        }
    }

</script>
<script>
$(document).ready(function(){
    $("#allvalue").click(function () {
        if ($("#allvalue").prop("checked")) {
     $("input[name='dno']").each(function() {
         $(this).prop("checked", true);
     });
   } else {
     $("input[name='dno']").each(function() {
         $(this).prop("checked", false);
     });
   }
});
});
</script>
<style>
    img.button_open {
        content: url('http://code.stephenmorley.org/javascript/collapsible-lists/button-open.png');
        cursor: pointer;
    }
    img.button_closed{
  content: url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
  cursor:pointer;
}

</style>