﻿<script>
    var fleet =@Html.Raw(ViewBag.GetFleetsResult);
    var data = @Html.Raw(ViewBag.dataText);

    $(document).ready(function(){

        var html = '';
        html +='<option value="">----</option>';
        for(var i in fleet.RtnObject){

            var x  =  fleet.RtnObject[i];
            html +='<option value="'+x['ID']+'">'+x['Name']+'</option>';
        }
        $('#fleetID').html(html);

        $('#driverID').on('change', function() {
            $("#carID").val($(this).val());
        })

    });

    function changeFleet(){
        var fleetID = $('#fleetID').val();

        if(fleetID != ''){
            getCars();
            //getDrivers();

        }

    }
    function changeDriver(){
        var driverID = $('#driverID').val();

        if(driverID != ''){
            getDrivers();

        }

    }
    function getCars(){
        var fleetID = $('#fleetID').val();

        var url = getUrl('GetCars');
        $.ajax({
            url : url,
            type : 'post',
            dataType : 'json',
            data : {
                fleetID : fleetID
            },
            success : function(r) {

                var data =JSON.parse( r.data);

                var html = '';

                html +='<option value="">----</option>';

                for(var i in data.RtnObject){

                    var x  =  data.RtnObject[i];
                    html +='<option value="'+x['DriverName']+'">'+x['DriverName']+'</option>';

                }

                $('#driverID').html(html);


            }
        });

    }
    
    function getDrivers(){
        var driverID = $('#driverID').val();

        var url = getUrl('GetDrivers');
        $.ajax({
            url : url,
            type : 'post',
            dataType : 'json',
            data : {
                driverID : driverID
            },
            success : function(r) {

                var data = r['data'];

                var html = '';
                html +='<option value="">----</option>';
                html +='<option value="'+data['CarNo']+'">'+data['CarNo']+'</option>';
                var html2 = '';
                html2 +='<option value="">----</option>';
                html2 +='<option value="'+data['CarType']+'">'+data['CarType']+'</option>';
                $('#carID').html(html);
                $('#Type').html(html2);

            }
        });

    }

    function goEdit()
    {
        var rno =  $('#rno').val();
        var fleetID =  $('#fleetID :selected').val();;
        var driverID =  $('#driverID :selected').val();
        var carID =  $('#carID :selected').val();
        var Type =  $('#Type :selected').val();
        var of =  $('#fid').val();;
        var od =  $('#did').val();
        var oc =  $('#cid').val();
        var ot =  $('#ty').val();
        url = getUrl('ItemEdit');
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                rno : rno,
                fleetID : fleetID,
                driverID : driverID,
                carID : carID,
                Type: Type,
                of : of,
                od : od,
                oc : oc,
                ot: ot
            },
            success: function (r) {
                var data = r['Message'];

                if (data == "Success")
                {
                    alert("編輯完成!!");
                    goback();
                }
                else
                {
                    alert("錯誤代號:"+data);
                }
            },
            error: function (jqXHR, textStatus,  errorThrown) {
                alert("系統錯誤!!"+jqXHR +" "+ textStatus+" "+  errorThrown);
            }
        });
    }
    function goback() {
        window.location.href = '/Dispatch';
    }
</script>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>派車資料</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <br>
                    <form id="form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        @*@ViewBag.GetFleetsResult


    <hr />
    派車單號,舊車隊編號,舊車號,舊司機編號,新車隊編號,新車號,新司機編號
    <br />

    2017010083, 54657828, RAZ-3013, 20160004, 54657828, RAM-7125, 20160018

    <hr />*@


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                派車單號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="rno" name="rno" value="@ViewBag.id" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                選擇車隊
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="fleetID" class="form-control col-md-7 col-xs-12" onchange="changeFleet()">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                選擇司機
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="driverID" class="form-control col-md-7 col-xs-12" onchange="changeDriver()">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                選擇車輛
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="carID" class="form-control col-md-7 col-xs-12" onchange="">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                選擇型號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="Type" class="form-control col-md-7 col-xs-12" onchange="">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                舊車隊編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="fid" name="fid" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                舊車號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="cid" name="cid" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                舊司機編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="did" name="did" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                舊車輛型號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ty" name="ty" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                新車隊編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="uid" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                新車號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="uid" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                新司機編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="uid" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary ordercancel" onclick="goEdit()">更新</button>
                                @*<button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>




</script>