﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>報表查詢</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Plain Page</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>

                    </div>*@
                <div class="x_content">

                    <div class=" row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>

                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                    <hr />

                                    <div class="form-horizontal row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">合作對象</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input id="Partner" class="form-control search" name="Partner" type="text">
                                                </div>
                                               @* <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <select id="Partner" class="form-control col-md-7 col-xs-12">
                                                        <option value="LINSHIBI">林氏璧</option>
                                                        <option value="SKLWEB2018">新光人壽</option>
                                                        <option value="GOWIFI">GoWIFI</option>
                                                        <option value="WIFIHERO">WiFiHero</option>
                                                    </select>
                                                </div>*@
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">開始日期</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search datepicker" name="QSDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">結束日期</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input id="QEDate" class="form-control search datepicker" name="QEDate" type="text" value="">
                                                </div>
                                            </div>

                                            <div class="form-group row ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="table-responsive">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    @*(I→回國/O→出國)*@
                                                    <th class="sortable sort-alpha" orderfield="rno" t="">編號</th>
                                                    <th class="sortable sort-alpha" orderfield="st" t="">出回國</th>
                                                    <th class="sortable sort-alpha" orderfield="td" t=""> 乘車日</th>
                                                    <th class="sortable sort-alpha" orderfield="pc" t="">人數</th>
                                                    <th class="sortable sort-alpha" orderfield="coupon" t="">優惠碼</th>
                                                    <th class="sortable sort-alpha" orderfield="ps" t="">進度</th>
  

                                                        <th style="width:60px"></th>

                                                    </tr>
                                                </thead>
                                                <thead>
                                                    <tr class="hide ">
                                                        <th>
                                                            <input class="form-control " name="QSDate" type="text">
                                                        </th>
                                                        <th>
                                                            <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /tile body -->
                                    <!-- tile footer -->
                                    <div class="row ">
                                        <div class="col-sm-6">

                                            <ul class="pagination pagination-xs nomargin pagination-custom pageFrame"><li class="active" onclick="setPage('list', 1)"><a>1</a></li></ul>
                                        </div>

                                        <div class="col-sm-4 text-center hide">
                                            <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                        </div>

                                        <div class="col-sm-6 text-right sm-center">

                                            <div class="input-group table-options pull-right">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9"></div>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonGoPay" onclick="goExcel2()">匯出EXCEL</button>
                                                </div>
                                            </div>
                                            <iframe id="fileHolder" hidden></iframe>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>

        var listData;

        var isClickCheckbox = false;
        var isClickView = false;


        function getListHtml(data, page) {
            listData = data;

            var now = (page - 1) * 10;
            var html = '';
            var j = 0;
            j = parseInt(j) + parseInt(now);
            for (var i = j; i < data.length; i++) {
                var x = data[i];
                if (i >= page * 10) {
                    break;
                }
                var num = data.length;

                html += '<tr >';

                //html += '<td><input name="ReportID" value="' + v(x['ReportID']) + '-' + v(x['ShtNo']) + '" style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';
                //html += '<td><input name="ReportID" class="rowCheckbox" value="' + v(x['ReportID']) + '-' + v(x['SignStatus']) + '"   style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';

                html += '<td>' + v(x['rno']) + '</td>';               
                if (v(x['st']) == "O")
                    html += '<td>' + "出國" + '</td>';
                else if (v(x['st']) == "I")
                    html += '<td>' + "回國" + '</td>';
                else
                    html += '<td>' + "未知" + '</td>';

                html += '<td>' + v(x['td']) + '</td>';
                html += '<td>' + v(x['pc']) + '</td>';
                html += '<td>' + v(x['coupon']) + '</td>';
                html += '<td>' + v(x['ps']) + '</td>';

                html += '</tr>';

            }

            if (html == '') {
                html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
            }
            return html;

        }

        $(function () {

            //init date
            //var currentDate = $.datepicker.formatDate("yy/mm/dd", new Date());

            //$('#RepStarDateTime').val(currentDate);
            //$('#RepEndDateTime').val(currentDate);

            //$('#SignedStarDateTime').val(currentDate);
            //$('#SignedEndDateTime').val(currentDate);
            var date = new Date();
            var newdate = new Date(date);

            newdate.setDate(newdate.getDate() + 7);

            var dd = newdate.getDate();
            var mm = newdate.getMonth() + 1;
            ("0" + mm).slice(-2)
            var y = newdate.getFullYear();

            var someFormattedDate = y + "" + ("0" + mm).slice(-2) + "" + dd;

            $('#QEDate').val(someFormattedDate);
  
            //init list page
            initListPage();

            //get list when ready
            getList();


        });


        function getList() {

            /*
            var RepStarDateTime = $('#RepStarDateTime').val();
            var RepEndDateTime = $('#RepEndDateTime').val();

            var SignedStarDateTime = $('#SignedStarDateTime').val();
            var SignedEndDateTime = $('#SignedEndDateTime').val();

            RepStarDateTime = $.trim(RepStarDateTime);
            RepEndDateTime = $.trim(RepEndDateTime);
            SignedStarDateTime = $.trim(SignedStarDateTime);
            SignedEndDateTime = $.trim(SignedEndDateTime);


            if ((RepStarDateTime == '' && RepEndDateTime == '') && (SignedStarDateTime == '' && SignedEndDateTime == '')) {
                alert('查詢至少要有報告日期或簽章日期其中一項喔');
                return;
            }
            */

            var sheetTypes = '';

            $('.sheetTypes:checked').each(function () {

                sheetTypes += $(this).val() + ',';
            });

            $('#sheetTypes').val(sheetTypes);

            beforeGetList(listContainerID);


            var searchParameters = $('#' + listContainerID).find('.search').serialize();

            if (typeof (listCondition[listContainerID]) == 'undefined') {
                //url = baseUrl + '/' + controllerName + '/getList';

                url = getUrl('GetList');
            } else {
                url = listCondition[listContainerID]['getListUrl'];
            }

            var currentPage = listCondition[listContainerID]['currentPage'];
            var orderField = listCondition[listContainerID]['orderField'];
            var orderType = listCondition[listContainerID]['orderType'];
            var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


            var searchJson = getJsonString(listContainerID, 'search');
            var Partner = $('#Partner').val();
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    page: currentPage,
                    orderField: orderField,
                    orderType: orderType,
                    itemPerPage: itemPerPage,
                    searchJson: searchJson,
                    Partner: Partner
                },
                success: getListRespond
            });

        }

        function goExcel2(){
            var searchJson = getJsonString(listContainerID, 'search');
            var Partner = $('#Partner').val();
            $.ajax({
                url: "@Url.Action("CreateExcel")",
                async: true,
            type: "POST",
            traditional: true,
            cache: false,
            data: {
                searchJson: searchJson,
                Partner: Partner
            },
            success: function (reportHeader) {
                $("#fileHolder")
                    .attr('src',
                    '@Url.Action("ExcelResult")?reportHeader=' +
                    reportHeader);
            }        });
        }




    </script>