﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>訂單資料</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <br>
                    <form id="form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                訂單編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="oid" name="rno" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                會員編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="uid" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                會員姓名
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="uname" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                會員電話
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="uphone" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                會員信箱
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="uemail" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                乘車人姓名
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="pn" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                乘車人電話
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="pp" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                出回國
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="sertype" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                                <div>出國O,回國 I</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                乘車日期
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="tdate" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                預約時段
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="timeseg" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                預約方式
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="seltype" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                                <div>指定航班 F, 指定航廈 T</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                航班編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="fno" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                航班時間
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="fdatetime" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                上車城市
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="pcity" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                上車區里
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="pdistinct" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                上車區里
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="pvillage" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                上車地址
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="paddress" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                      @*  <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                上車緯度
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="plat" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                上車經度
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="plng" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                下車城市
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="tcity" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                下車區里
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="tdistinct" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                下車區里
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="tvillage" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                下車地址
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="taddress" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                       @* <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                下車緯度
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="tlat" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                下車經度
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="tlng" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                乘客人數
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="pcnt" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                行李數量
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="bcnt" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                是否滿車
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="max" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                試算金額
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="trialprice" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                優惠內容
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="coupun" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                發票資料
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="invoice" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                卡號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="credit" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                狀態
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="stage" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                發票號碼
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="ein" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                建立時間
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="cdatetime" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                異動時間
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="udatetime" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                備註
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="Memo" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary ordercancel" onclick="bt1()">不計價取消</button>
                                <button type="button" class="btn btn-primary ordercancel" onclick="bt2()">計價&取消</button>
                                <button type="button" class="btn btn-primary goback" onclick="goback()">返回</button>
                                @*<button class="btn btn-primary" type="button">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width:300px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">請輸入備註(*)</h4>
                    </div>
                    <div class="modal-body">
                        <p>備註:</p>
                        <textarea id="re-memo"></textarea>
                    </div>
                    <div id="bindbt" class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>

    var data = @Html.Raw(ViewBag.dataText);

    function bt1()
    {
        $("#bindbt").empty();
        $("#re-memo").val("");
        $("#bindbt").append('<button type="button" class="btn btn-primary ordercancel" onclick="goCancel()">確定</button>');
        $('#myModal').modal('show');
    }

    function bt2()
    {
        $("#bindbt").empty();
        $("#re-memo").val("");
        $("#bindbt").append('<button type="button" class="btn btn-primary ordercancel" onclick="goCancel2()">確定</button>');
        $('#myModal').modal('show');
    }

    function goCancel()
    {
        var rno =  $('#oid').val();
        url = getUrl('ItemCancel');
        var memotext = $("#re-memo").val();
        if( memotext !="")
        {        
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    id: rno,
                    memo:memotext
                },
                success: function (r) {
                    var data = r['Message'];

                    if (data == "Success")
                    {
                        alert("已取消訂單!!");
                        goback();
                    }
                    else
                    {
                        alert("錯誤代號:"+data);
                    }                 
                },
                error: function () {
                    alert("系統錯誤!!");
                }
            });
        }
        else
        {
            alert("請輸入備註!");
        }
    }

    function goCancel2()
    {
        var rno =  $('#oid').val();
        url = getUrl('ItemCancel2');
        var memotext = $("#re-memo").val();
        if( memotext !="")
        {   
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                id: rno,
                memo:memotext
            },
            success: function (r) {
                var data = r['Message'];

                if (data == "Success")
                {
                    alert("已取消訂單!!");
                    goback();
                }
                else
                {
                    alert("錯誤代號:"+data);
                }                 
            },
            error: function () {
                alert("系統錯誤!!");
            }
        });
        }
        else
        {
            alert("請輸入備註!");
        }
    }

    function goback() {
        window.location.href = '/Order';
    }
</script>