﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>司機管理</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Plain Page</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>

                    </div>*@
                <div class="x_content">

                    <div class=" row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>

                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                    <hr />

                                    <div class="form-horizontal row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">車隊</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="CarTeam" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">手機</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="cellph" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">姓名</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="Name" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">班別</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="ShiftType" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="table-responsive">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    @*(I→回國/O→出國)*@
                                                    <th class="sortable sort-alpha" orderfield="UserName" t="">使用者名稱</th>
                                                    <th class="sortable sort-alpha" orderfield="MobilePhone" t=""> 手機號碼</th>
                                                    <th class="sortable sort-alpha" orderfield="FleetID" t="">車隊</th>
                                                    <th class="sortable sort-alpha" orderfield="ShiftType" t="">排班別</th>

                                                    <th style="width:60px"></th>

                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr class="hide ">
                                                    <th>
                                                        <input class="form-control " name="QSDate" type="text">
                                                    </th>
                                                    <th>
                                                        <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /tile body -->
                                <!-- tile footer -->
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <ul class="pagination pagination-xs nomargin pagination-custom pageFrame"><li class="active" onclick="setPage('list', 1)"><a>1</a></li></ul>
                                    </div>

                                    <div class="col-sm-4 text-center hide">
                                        <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                    </div>

                                    <div class="col-sm-6 text-right sm-center">

                                        <div class="input-group table-options pull-right">
                                            <input class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" placeholder="go to page..">
                                            <span class="input-group-btn pull-left">
                                                <button type="button" class="btn btn-primary buttonGoToPage" t="">GO</button>
                                            </span>
                                        </div>
                                        <div class="col-sm-9">
                                            <button type="button" class="btn btn-primary buttonGoCR" onclick="add()">新增司機</button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    var listData;

    var isClickCheckbox = false;
    var isClickView = false;
    function add() {
        window.location.href = '/Driver/Add';
    }

    function getListHtml(data,page) {
        listData = data;
        var now = (page - 1) * 10;
        var html = '';
        var j = 0;
        j = parseInt(j) + parseInt(now);
        for (var i = j; i < data.length; i++) {
            var x = data[i];
            if (i >= page * 10) {
                break;
            }

            html += '<tr >';
            //html += '<td><input name="ReportID" value="' + v(x['ReportID']) + '-' + v(x['ShtNo']) + '" style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';
            //html += '<td><input name="ReportID" class="rowCheckbox" value="' + v(x['ReportID']) + '-' + v(x['SignStatus']) + '"   style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';

            html += '<td>' + v(x['UserName']) + '</td>';
            html += '<td>' + v(x['MobilePhone']) + '</td>';
            html += '<td>' + v(x['FleetID']) + '</td>';
            html += '<td>' + v(x['ShiftType']) + '</td>';

            html += '<td><a href="' + getUrl('Item?id=' + x['UserID']) + '" class="btn btn-xs btn-primary">編輯</a></td>';
            //html += '<td><a href="' + getUrl('Item?id=' + x['ReportID']) + '"><img src="' + baseUrl + '/Content/images/icon_search.png"></a></td>';
            //html += '<td>';
            //html += '<a class="btn btn-default btn-success btn-xs update" href="' + baseUrl + '/' + controllerName + '/update?id=' + x['id'] + '" t>Edit</a> ';
            //html += '<button type="button" class="btn btn-danger btn-xs delete" onclick="deleteItem(' + x['ID'] + ', this)" t>刪除</button> ';
            //html += '</td>';

            html += '</tr>';

        }

        if (html == '') {
            html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
        }
        return html;

    }

    $(function () {

        //init date
        //var currentDate = $.datepicker.formatDate("yy/mm/dd", new Date());

        //$('#RepStarDateTime').val(currentDate);
        //$('#RepEndDateTime').val(currentDate);

        //$('#SignedStarDateTime').val(currentDate);
        //$('#SignedEndDateTime').val(currentDate);


        //init list page
        initListPage();

        //get list when ready
        getList();


    });


    function getList() {

        var sheetTypes = '';

        $('.sheetTypes:checked').each(function () {

            sheetTypes += $(this).val() + ',';
        });

        $('#sheetTypes').val(sheetTypes);

        beforeGetList(listContainerID);


        var searchParameters = $('#' + listContainerID).find('.search').serialize();

        if (typeof (listCondition[listContainerID]) == 'undefined') {
            //url = baseUrl + '/' + controllerName + '/getList';

            url = getUrl('GetList');
        } else {
            url = listCondition[listContainerID]['getListUrl'];
        }

        var currentPage = listCondition[listContainerID]['currentPage'];
        var orderField = listCondition[listContainerID]['orderField'];
        var orderType = listCondition[listContainerID]['orderType'];
        var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


        var searchJson = getJsonString(listContainerID, 'search');

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                page: currentPage,
                orderField: orderField,
                orderType: orderType,
                itemPerPage: itemPerPage,
                searchJson: searchJson
            },
            success: getListRespond
        });

    }






</script>
