﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>司機資料</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <br>
                    <form id="form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                司機編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ID" name="ID" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                密碼
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Password" name="Password"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                司機姓名
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Name" name="Name" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                身分證字號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="CitizenID" name="CitizenID" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                手機號碼
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="MobilePhone" name="MobilePhone"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                市話
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="HomePhone" name="HomePhone"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                公司編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="CompanyNo" name="CompanyNo"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車隊編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="FleetID" name="FleetID" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                排班別
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ShiftType")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                所在城市
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="City" name="City"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                所在行政區
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Distinct" name="Distinct"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                地址
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="Address" name="Address"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                活動註記
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("Active")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                建立日期
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="CreateTime" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                異動時間
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="UpdTime" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                       

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary ordergoEdit" onclick="goEdit()">編輯完成</button>
                                <button type="button" class="btn btn-primary goback" onclick="goback()">返回</button>
                                @*<button class="btn btn-primary" type="button">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var data = @Html.Raw(ViewBag.dataText);

    function goEdit()
    {
        var ID =  $('#ID').val();
        var Password =  $('#Password').val();
        var Name =  $('#Name').val();
        var CitizenID =  $('#CitizenID').val();
        var MobilePhone =  $('#MobilePhone').val();
        var HomePhone =  $('#HomePhone').val();
        var CompanyNo =  $('#CompanyNo').val();
        var FleetID =  $('#FleetID').val();
        var ShiftType =  $('#ShiftType :selected').val();
        var City =  $('#City').val();
        var Distinct =  $('#Distinct').val();
        var Address =  $('#Address').val();
        var Active =  $('#Active :selected').val();
        url = getUrl('ItemEdit');
       $.ajax({
           url: url,
           type: 'post',
           dataType: 'json',
           data: {
               ID : ID,
               Password : Password,
               Name : Name,
               CitizenID : CitizenID,
               MobilePhone : MobilePhone,
               HomePhone : HomePhone,
               CompanyNo : CompanyNo,
               FleetID : FleetID,
               ShiftType : ShiftType,
               City : City,
               Distinct : Distinct,
               Address : Address,
               Active : Active
           },
           success: function (r) {
               var data = r['Message'];

               if (data == "Success")
               {
                   alert("編輯完成!!");
                   goback();
               }
               else
               {
                   alert("錯誤代號:"+data);
               }
           },
           error: function (jqXHR, textStatus,  errorThrown) {
               alert("系統錯誤!!"+jqXHR +" "+ textStatus+" "+  errorThrown);
           }
       });
    }
    function goback() {
        window.location.href = '/Driver';
    }
</script>