/*-------reset-------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------ALL HTML-----------*/
@font-face {
    font-family: light;
    src: url('GenJyuuGothic-Light.woff');
}


@font-face {
    font-family: bold;
    src: url('GenJyuuGothic-Medium.woff');
}

html{
	width: 100%;
	height: 100%;
}

body{
	position: relative;
	width: 100%;
	height: 100%;
	font-size:62.5%;
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif,"Roboto-Regular";
}

img{
	width: 100%;
}

a{
	text-decoration: none;
}

h1 {
	font-size:7em;
	line-height: 1.2em;
	padding:0;
}
h2 {
	font-size:6em;
	padding:0.5em 0 0.5em 0;
}
h3 {
	font-size:2.3em;
}
dt {
	font-size:2.3em;
}
dd {
	font-size:1.9em;
	padding:0.6em 0 0.9em 0;
}
p {
	font-size:1.9em;
	padding:0.4em 0 0.4em 0;
	transition: 2s;
}

/*-----fixed-----*/

.logo{
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: auto;
	width: 220px;
	cursor: pointer;
    z-index: 900;
}

.logo-text{
	font-family: light;
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #808080;
	font-size: 2em;
	z-index: 900;
}

.banner{
	font-family: light;
	position: absolute;
	top: 260px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #071220;
	z-index: 900;
	text-shadow: 0 0 40px #fff;	
}
.banner span{
	font-size: 0.5em;
}

.slogan1,
.slogan2{
	display: inline-block;
	width: 200px;
	padding-left: 30px;
	position: absolute;
	top: 460px;
	left: 0;
	right: 0;
	margin: auto;
	color: #18181d;
	font-size: 2em;
	text-shadow: 0 0 30px #fff;
	background-image: url('../img/sharp.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: left center;
	z-index: 1;		
}
.slogan2{
	top: 500px;
}

.download{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 560px;
	left: 0;
	z-index: 1;
}
 .download > div {
 	display: inline-block;
	font-family: bold;
	color: #f7931e;
	background-color: #fff;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	padding: 8px 30px;
	line-height: 30px;
	font-size: 2.2em;
 }
 .download a i{
 	font-size: 1.5em;
 	margin: 0 3px;
 	text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
 }

 .download a{
 	color: #f7931e;
 }

  .download a:hover i{
  	transform: scale(1.2, 1.2);
 	color: #ff6500;
 }


/*------------section1------------*/

.section1{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-height:1050px;
	background-image: url('../img/bg-photo.png'),url('../img/bg.png');
	background-repeat: no-repeat;
	background-position:48% 100%;
	background-size:contain,100% 100%;
/* 	background-attachment: fixed; */
}

@media screen and (max-width: 1024px){

	.section1{
	background-size:cover,100% 100%;		
	}

}

@media screen and (max-width: 768px){

	.section1{
	background-position:52% 50%;	
	background-image: url('../img/bg-photo2.png'),url('../img/bg.png');		
	}

}

/*------------section2---------*/
.section2{
	position: relative;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), 5px 5px 20px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: center;
}

.section2:before{
	content: '';
	position: absolute;
	top: -60px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 80px 60px 80px;
	border-color: transparent transparent #fff transparent;	
}

.arrow-down{
	width: 100%;
	text-align: center;
	z-index: 10;
	position: absolute;
	top: -30px;
	right: 0;
	left: 0;
	margin: auto;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.arrow-down i{
	opacity: 0;
	font-size: 5em;
	color: #53c4ee;
	animation:arrow 1s 1s infinite;
}

@keyframes arrow{
	0%{
	position: relative;
	top:-10px;	
	opacity: .5;	
	}
	50%{	
	position: relative;
	top: -20px;	
	opacity: 1;
	}
	100%{	
	position: relative;
	top:-10px;	
	opacity: .5;
	}
}

.step{
	display: inline-block;
	width: 30%;
	margin:0.8% 1.5%;
	text-align: center;
}

.step1{
	margin-left: 3%;
	margin-right: 0;
}

.step3{
	margin-left: 0;
	margin-right: 3%;
}

.step-h{
	font-family: bold;
	width: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 38px;
	color: #17a8ee;
}

.circle{
	display: inline-block;
	margin-right: 10px;
	font-size: 28px;
	line-height: 38px;
	width: 38px;
	height: 38px;
	color: #fff2b3;
	background-color: #17a8ee;
	border-radius: 50%;
}



.step p{
	font-family: light;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #6f8894;
}

.step img{
	display: inline-block;
	width: 90%;
}

/*------------section3---------*/
.section3{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 0;
	overflow: hidden;
}

.photo{
	position: relative;
	display: inline-block;
	width: 50%;
	height: 50%;
	background-size: cover;
	overflow: hidden;
}

.photo1{
	background-image: url('../img/photo1.jpg');
	background-position:50% 30%;
	transition: 0.5s;
}

.photo2{
	background-image: url('../img/photo2.jpg');
	background-position:50% 25%;
	transition: 0.5s 0.5s;
}

.photo3{
	background-image: url('../img/photo3.jpg');
	background-position:0% 80%;
	transition: 0.5s 1s;

}

.photo4{
	background-image: url('../img/photo4.jpg');
	background-position:50% 70%;
	transition: 0.5s 1.5s;
}

.photo h4{
	position: absolute;
	bottom:100px;
	font-family: bold;
	width: 88%;
	padding-left: 12%;
	text-align: left;
	font-size: 36px;
	color: #fff;
	text-shadow:  0 0 10px rgba(0, 0, 0, 1.0);
}

.photo2 h4,
.photo4 h4{
	text-align: right;
	padding-left: 0;
	padding-right: 15%;
}

.photo p{
	position: absolute;
	bottom: 50px;
	font-family: bold;
	width: 85%;
	padding-left: 15%;
	text-align: left;
	font-size: 22px;
	color: #fff;
	text-shadow:  0 0 10px rgba(0, 0, 0, 1.0);
}

.photo2 p,
.photo4 p{
	text-align: right;
	padding-left: 0;
	padding-right: 15%;
}

.go-btn{
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	background-color: #6cc7f4;
	box-shadow: 0 0 10px rgba(0, 0, 0,.7);
	z-index: 100;
	transition: .2s;
}

.go-btn span:nth-child(1){
	margin-top: 37px;
}

.go-btn span{
	font-family: bold;
	display: block;
	margin: 10px 0;
	font-size: 21px;
	color: #fff2b3;
	text-shadow:  0 0 10px rgba(0, 0, 0, .3);
}

.go-btn img{
	width: 50px;
}

/*--------------section3-line---------------*/
.svg-content2,
.svg-content4{
	position: absolute;
	bottom: 65px;
	left:10%;
    width: 520px;
}

.svg-content4{
	width:500px;
}

.svg-content3,
.svg-content5{
	position: absolute;
	bottom: 65px;
	right: 10%;
	width: 450px;
}

.svg-content5{
	width: 470px;
}

.demo-wrap {
    width: 100%;
    position: relative;
    z-index: 1;
}


/*--------------section4----------------*/
.section4{
	position: relative;
	width: 100%;
	height: 65%;
	background-image: url('../img/bg2.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	min-height: 500px;
}


.svg-content{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 55%;
	max-width: 600px;
	-ms-transform: translate(-50%,-50%); /* IE 9 */
   	-webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
    transform: translate(-50%,-50%);
}

.logo-wrap {
    width: 100%;
    position: relative;
    z-index: 1;
}

.section4 h4,
.section4 h5,
.section4 h6{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 30%;
	font-family: bold;
	font-size: 3em;
	color: #2e5161;
	z-index: 2;
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.section4 h5{
	top: 40%;
	font-size: 2.8em;
}
.section4 h6{
	top: 50%;
	font-size: 2em;
	font-family: light;
}

.section4 p{
	padding: 0 3%;
	width: 94%;
	text-align: center;
	position: absolute;
	bottom: 2%;
	font-size: 1.2em;
	line-height: 1.3;
	color: #54b4c4;
	z-index: 2;
	font-weight: 600;
}

/*------------section5-------------*/
.section5 h4,
.qa h5{
	width: 100%;
	text-align: center;
	font-family: bold;
	color: #fff;
	background-color: #28abe2;
	font-size: 2.2em;
	line-height: 2.4em;
}

.qa{
	position: relative;
}


.qa h5{
	cursor: pointer;
	background-color: transparent;
	color: #2e5161;
}

.qa h5 i.active{
	transform: rotate(180deg);
}

.qa:nth-child(5) h5 i,
.qa:nth-child(6) h5 i{
	transform: rotate(180deg);
}

.qa:nth-child(5) h5 i.active,
.qa:nth-child(6) h5 i.active{
	transform: rotate(0deg);
}

.qa h5 i{
	font-size: 1.2em;
	margin-left: 10px;
}

.qa h6{
	font-size: 1.6em;
	line-height: 1.3em;
	color: #00adee;
}

.qa p{
	font-size: 1.6em;
	line-height:1.5em;
	color: #666666;
}

.qa li{
	margin: 5px;
}

.qa ul{
	padding: 0 2.5%;
}

.qa:nth-child(5) ul,
.qa:nth-child(6) ul{
	display: none;
}

.qa::before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: auto;
	width: 94%;
	height: 1px;
	background-color: #6b8691;
}

.qa:nth-child(6)::before{
	display: none;
}

.qa p.p-small{
	font-size:1.3em;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	padding-left: 10px;
	color:#3ea3b5;
	margin-top: -5px;
	font-weight: 600;
	margin-bottom: 8px;
}

/*-----------------footer---------------*/

footer{
	position: relative;
	width: 100%;
	padding: 25px 0 35px 0;
	text-align: center;
	vertical-align: middle;
	background-image: linear-gradient(180deg, #85ddff 0%, #f4fafc 100%);
}

footer p{
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 1.2em;
	color: #999999;
}

footer > div{
	display: inline-block;
	width: 33%;
	text-align: center;
	vertical-align: middle;
}

footer > div:nth-child(2){
	position: relative;
	left: 15px;
}

.footer-logo{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.footer-logo img{
	display: inline-block;
	width: 180px;
}

.footer-download{
	width: 100%;
	text-align: center;
}

.footer-download a{
	display: inline-block;
	width: 150px;
	height: 50px;
	margin:0 5px; 
	box-shadow: 3px 3px 8px rgba(0, 0, 0, .2);
	border-radius: 8px;
	transition: .1s;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}

.footer-download a:nth-child(1){
	background-image: url('../img/ios.png');
}

.footer-download a:nth-child(1):hover{
	background-image: url('../img/ios2.png');
}

.footer-download a:nth-child(2){
	background-image: url('../img/android.png');
}

.footer-download a:nth-child(2):hover{
	background-image: url('../img/android2.png');
}

.footer-link{
	text-align: left;
	font-size: 1.8em;
	color: #00adee;
	margin-bottom: 10px;
}

.footer-link li{
	display: inline-block;
}

.footer-link li a{
	text-align: left;	
	font-size: 1em;
	line-height: 1.5;
	color: #00adee;
}

.footer-link li a:hover{
	font-weight: 600;
	color: #0078cf;
	text-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.footer-contact li{
	font-family: light;
	text-align: left;
	font-size: 1.6em;
	line-height:1.8em;
	color: #666;
}

.footer-fb{
	position: relative;
	left:-75px;
	display: inline-block;
	color: #aaa;
}
.fb-2{
	display: none;
}
