@media screen and (max-height: 767px){

.banner{
	top: 240px;
}
.slogan1,
.slogan2{
	top: 420px;	
}
.slogan2{
	top: 460px;
}

.download{
	top: 520px;
}

}

/*-----------------------------------------*/


@media screen and (max-width: 1366px){

.section2::before {
    top: -59px;
}

.photo h4{
	position: absolute;
	bottom:90px;
	font-family: bold;
	width: 80%;
	padding-left: 8%;
	text-align: left;
	font-size: 32px;
	color: #fff;
	text-shadow:  0 0 10px rgba(0, 0, 0, 1.0);
}

.photo2 h4,
.photo4 h4{
	width: 94%;
	text-align: right;
	padding-left: 0;
	padding-right: 0;
}

.photo p{
	position: absolute;
	bottom: 40px;
	font-family: bold;
	width: 80%;
	padding-left: 9%;
	text-align: left;
	font-size: 19px;
	color: #fff;
	text-shadow:  0 0 10px rgba(0, 0, 0, 1.0);
}

.photo2 p,
.photo4 p{
	width: 93%;
	text-align: right;
	padding-left: 0;
	padding-right: 0;
}

.svg-content2,
.svg-content4{
	position: absolute;
	bottom: 55px;
	left: 3.5%;
	width: 430px;
}

.svg-content4{
	width: 410px;
}

.svg-content3,
.svg-content5{
	position: absolute;
	bottom: 55px;
	right: 2.3%;
	width: 370px;
}

.svg-content5{
	width: 385px;
}

.demo-wrap {
    width: 100%;
    position: relative;
    z-index: 1;
}


}

/*---------------------------------------*/
@media screen and (max-height: 767px){

.photo h4{
	bottom:55px;
}

.photo p{
	bottom: 10px;
}

.svg-content2,
.svg-content4{
	bottom: 25px;
}

.svg-content3,
.svg-content5{
	bottom: 25px;
}

}

/*-----------------------------------------*/

@media screen and (max-width: 1023px){

.step p {
    font-size: 18px;
    line-height: 32px;
}

.section3 {
	width: 100%;
    height: 140vh;
    min-height: 1600px;
}

.photo{
	display: block;
	width: 100%;
	height: 35vh;
	min-height: 400px;
	overflow-x: hidden;
}

.go-btn{
	display: none;
}

.photo h4{
	width: 100%;
	text-align: center;
	bottom:70px;
	padding: 0;
}

.photo p{
	width: 100%;
	text-align: center;
	bottom: 30px;
	padding: 0;
}

.svg-content2, .svg-content4 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 37px;
	margin: auto;
    width: 405px;
}

.svg-content4{
	width: 405px;
}

.svg-content3,.svg-content5{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 37px;
	margin: auto;
	width: 380px;
}

.svg-content5{
	width: 390px;
}

.section4 {
    height: 45%;
    min-height: 450px;
}

.svg-content {
    min-width: 500px;
}

.footer-logo {
    margin-bottom: 5px;
}

.footer-download a {
    margin: 5px;
}

footer > div:nth-child(1) {
    width: 27%;
}

footer > div:nth-child(2) {
	width: 39%;
    position: relative;
    left: 0px;
}


.qa h6{
	font-size: 1.5em;
	line-height: 1.3em;
	color: #00adee;
}

.qa p{
	font-size: 1.5em;
	line-height:1.5em;
	color: #666666;
}

.qa:nth-child(4) h5 i,
.qa:nth-child(5) h5 i,
.qa:nth-child(6) h5 i{
	transform: rotate(180deg);
}

.qa:nth-child(4) h5 i.active,
.qa:nth-child(5) h5 i.active,
.qa:nth-child(6) h5 i.active{
	transform: rotate(0deg);
}

.qa:nth-child(4) ul,
.qa:nth-child(5) ul,
.qa:nth-child(6) ul{
	display: none;
}


}

/*-----------------------------------------*/

@media screen and (max-width: 768px) {
    
.step{
	width: 100%;
	margin:1.5% 0;
}

.step h4 {
	font-size: 28px;
	margin: 20px 0 -15px 0;
}

.step h4 span {
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.step p {
	margin-top: -20px;
    font-size: 22px;
}

footer > div:nth-child(1) {
    width: 100%;
}

footer > div:nth-child(2) {
    width: 100%;
}

footer > div:nth-child(3) {
    width: 100%;
}

.footer-link {
	margin-bottom:0px;
	margin-top: 10px; 
    text-align: center;
}

.footer-contact{
	margin: 10px 0;
}

.footer-contact li {
    text-align: center;
}

}

/*-------------------------------------------------*/

@media screen and (max-width: 639px) {

h1{
	font-size: 6em;
}

.section4 {
    height: 40%;
    min-height: 450px;
    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 170% 120%;
}

.svg-content {
    min-width: 430px;
}

.section4 h5 {
    top: 40%;
    font-size: 2.3em;
}
.section4 h6{
	font-size: 1.8em;
}

.qa h6{
	font-size: 1.4em;
	line-height: 1.3em;
	color: #00adee;
}

.qa p{
	font-size: 1.4em;
	line-height:1.5em;
	color: #666666;
}

}


/*--------------------------------------*/
@media screen and (max-width: 479px) {
.svg-content2,
.svg-content4{
    width: 300px;
}

.svg-content4{
	width:300px;
}

.svg-content3,
.svg-content5{
	width: 300px;
}

.svg-content5{
	width: 300px;
}
    
h1{
	font-size: 6em;
}

.photo h4{
	bottom: 60px;
	font-size: 26px;
}

.photo p{
	font-size: 15px;
}

.section3 {
    width: 100%;
    height: 120vh;
    min-height: 1200px;
}

.photo{
	display: block;
	width: 100%;
	height: 30vh;
	min-height: 300px;
}

.photo3{
	background-image: url('../img/photo3.jpg');
	background-position:0% 100%;
}

.logo {
	width: 180px;
    top: 30px;
}

.logo-text {
    top: 120px;
    font-size: 1.8em;
}

h1{
	font-size: 4em;
	line-height: 1.2;
}

.banner{
	top: 170px;
}
.slogan1,
.slogan2{
	width: 150px;
	font-size: 16px;
	top: 270px;	
}
.slogan2{
	top: 300px;
}

.download{
	top: 350px;
}

.download > div {
    padding: 5px 15px;
    line-height: 22px;
    font-size: 1.8em;
}

 .download a i{
 	color: #f7931e;
 	font-size: 1.4em;
 	margin: 0 3px;
 }

.step h4{
	font-size: 20px;
}

.step h4 span{
	font-size: 22px;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.step p{
	font-size: 16px;
}

.svg-content {
    min-width: 300px;
}

.section4 {
    height: 35%;
    min-height: 350px;
}

.section4 h4 {
    font-size: 2.6em;
}

.section4 h5 {
    top: 42%;
    font-size: 1.7em;
}

.section4 h6 {
    top: 50%;
    font-size:1.5em;
}

.qa h6{
	font-size: 1.5em;
	line-height: 1.3em;
	color: #00adee;
}

.qa p{
	font-size: 1.5em;
	line-height:1.5em;
	color: #666666;
}

.footer-contact li {
    font-size: 1.4em;
    line-height: 1.6em;
}

}


/*-------------FB--------------*/


@media screen and (max-width: 1280px){

.fb-1{
	display: none;
}

.fb-2{
	display: block;
}

.footer-fb{
	left:-20px;
}


}

@media screen and (max-width: 768px){

.fb-2{
	display: none;
}

.fb-1{
	display: block;
}

.footer-fb{
	left:0;
}

}

@media screen and (max-width: 480px){

.fb-1{
	display: none;
}

.fb-2{
	display: block;
}

.footer-fb{
	left:0;
}


}