﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>折扣碼維護查詢</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Plain Page</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>

                    </div>*@
                <div class="x_content">

                    <div class=" row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>

                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                    <h3>查詢條件</h3>
                                    <hr />
                                    <div class="form-horizontal row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">折扣碼</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="Coupon" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <h3>批次新增</h3>
                                    <hr />
                                    <div class="form-horizontal row">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-3">折扣碼數量</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                        <input class="form-control input" name="Cnum" type="number" value="0" id="Cnum">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-3">使用開始日</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                        <input class="form-control input datepicker" name="QSDate1" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-3">可預約開始日</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                        <input class="form-control input datepicker" name="QSDate2" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-3">折扣碼長度</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                        <input class="form-control input" name="Clong" type="number" value="0" id="Clong">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-3">使用結束日</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                        <input class="form-control input datepicker" name="QEDate1" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-3">可預約結束日</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                        <input class="form-control input datepicker" name="QEDate2" type="text" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="comment">說明:</label>
                                                    <textarea class="form-control input" rows="5" id="comment" name="comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="fullname" class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9">
                                                        <button type="button" class="btn btn-primary buttonInsert" t="" onclick="goInsert()">新增</button>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form class="form-inline" role="form">
                                                    <div class="form-group">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="radio">
                                                            <label class="radio-inline control-label">
                                                                <input type="radio" id="CarFeeSub" name="discount" value="" checked="">
                                                                可折抵金額
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control input" name="CarFeeSubInput" type="number" value="0" id="CarFeeSubInput" style="width:80px;">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="radio">
                                                            <label class="radio-inline control-label">
                                                                <input type="radio" id="FixCarFee" name="discount" value="1">
                                                                固定車資
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control input" name="FixCarFeeInput" type="number" value="0" id="FixCarFeeInput" style="width:80px;">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="radio">
                                                            <label class="radio-inline control-label">
                                                                <input type="radio" id="NightFeeSub" name="discount" value="2">
                                                                夜加優惠
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control input" name="NightFeeSubInput" type="number" value="0" id="NightFeeSubInput" style="width:80px;">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <h3>查詢結果</h3>
                                    <hr />
                                    <div class="table-responsive">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    <th class="sortable sort-alpha" orderfield="SeqNo" t="">序號</th>
                                                    <th class="sortable sort-alpha" orderfield="CouponCode" t="">折扣碼</th>
                                                    <th class="sortable sort-alpha" orderfield="StartDate" t=""> 使用有效起日</th>
                                                    <th class="sortable sort-alpha" orderfield="EndDate" t="">使用有效迄日</th>
                                                    <th class="sortable sort-alpha" orderfield="CarFeeSub" t="">車資折抵優惠金額</th>
                                                    <th class="sortable sort-alpha" orderfield="FixCarFee" t="">固定車資優惠金額</th>
                                                    <th class="sortable sort-alpha" orderfield="NightFeeSub" t="">夜加優惠金額</th>
                                                    <th class="sortable sort-alpha" orderfield="Memo" t="">說明</th>
                                                    <th class="sortable sort-alpha" orderfield="UseCnt" t=""> 已使用數量</th>
                                                    <th class="sortable sort-alpha" orderfield="LimitCnt" t="">限制數量</th>
                                                    <th class="sortable sort-alpha" orderfield="TakeDateS" t="">可預約乘車日起日</th>
                                                    <th class="sortable sort-alpha" orderfield="TakeDateE" t="">可預約乘車日迄日</th>
                                                    <th class="sortable sort-alpha" orderfield="CreateTime" t="">新增時間</th>
                                                    <th class="sortable sort-alpha" orderfield="UpdTime" t="">異動時間</th>
                                                        <th style="width:60px"></th>

                                                    </tr>
                                                </thead>
                                                <thead>
                                                    <tr class="hide ">
                                                        <th>
                                                            <input class="form-control " name="QSDate" type="text">
                                                        </th>
                                                        <th>
                                                            <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /tile body -->
                                    <!-- tile footer -->
                                    <div class="row ">
                                        <div class="col-sm-6">

                                            <ul class="pagination pagination-xs nomargin pagination-custom pageFrame"><li class="active" onclick="setPage('list', 1)"><a>1</a></li></ul>
                                        </div>

                                        <div class="col-sm-4 text-center hide">
                                            <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                        </div>

                                        <div class="col-sm-6 text-right sm-center">
                                            <div class="input-group table-options pull-right">
                                                <input class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" placeholder="go to page..">
                                                <span class="input-group-btn pull-left">
                                                    <button type="button" class="btn btn-primary buttonGoToPage" t="">GO</button>
                                                </span>
                                            </div>
                                            <div class="input-group table-options pull-right">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9"></div>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonGoPay" onclick="goExcel2()">匯出EXCEL</button>
                                                </div>
                                            </div>
                                            <iframe id="fileHolder" hidden></iframe>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>

        var listData;

        var isClickCheckbox = false;
        var isClickView = false;


        function getListHtml(data,page) {
            listData = data;

            var now = (page - 1) * 10;
            var html = '';
            var j = 0;
            j = parseInt(j) + parseInt(now);
            for (var i = j; i < data.length; i++) {
                var x = data[i];
                if (i >= page * 10) {
                    break;
                }

                html += '<tr >';

                html += '<td>' + v(x['SeqNo']) + '</td>';
                html += '<td>' + v(x['CouponCode']) + '</td>';
                html += '<td>' + v(x['StartDate']) + '</td>';
                html += '<td>' + v(x['EndDate']) + '</td>';
                html += '<td>' + v(x['CarFeeSub']) + '</td>';
                html += '<td>' + v(x['FixCarFee']) + '</td>';
                html += '<td>' + v(x['NightFeeSub']) + '</td>';
                html += '<td>' + v(x['Memo']) + '</td>';
                html += '<td>' + v(x['UseCnt']) + '</td>';
                html += '<td>' + v(x['LimitCnt']) + '</td>';
                html += '<td>' + v(x['TakeDateS']) + '</td>';
                html += '<td>' + v(x['TakeDateE']) + '</td>';
                html += '<td>' + v(x['CreateTime']) + '</td>';
                html += '<td>' + v(x['UpdTime']) + '</td>';

                html += '</tr>';

            }

            if (html == '') {
                html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
            }
            return html;

        }

        $(function () {

            var date = new Date();
            var newdate = new Date(date);

            newdate.setDate(newdate.getDate() + 7);

            var dd = newdate.getDate();
            var mm = newdate.getMonth() + 1;
            ("0" + mm).slice(-2)
            var y = newdate.getFullYear();

            var someFormattedDate = y + "" + ("0" + mm).slice(-2) + "" + dd;

            $('#QEDate').val(someFormattedDate);
            $("#FixCarFeeInput").prop("disabled", "remove");
            $("#NightFeeSubInput").prop("disabled", "remove");
            //init list page
            initListPage();

            //get list when ready
            getList();


        });


        function getList() {
              
            var sheetTypes = '';

            $('.sheetTypes:checked').each(function () {

                sheetTypes += $(this).val() + ',';
            });

            $('#sheetTypes').val(sheetTypes);

            beforeGetList(listContainerID);


            var searchParameters = $('#' + listContainerID).find('.search').serialize();

            if (typeof (listCondition[listContainerID]) == 'undefined') {
                //url = baseUrl + '/' + controllerName + '/getList';

                url = getUrl('GetList');
            } else {
                url = listCondition[listContainerID]['getListUrl'];
            }

            var currentPage = listCondition[listContainerID]['currentPage'];
            var orderField = listCondition[listContainerID]['orderField'];
            var orderType = listCondition[listContainerID]['orderType'];
            var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


            var searchJson = getJsonString(listContainerID, 'search');
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    page: currentPage,
                    searchJson: searchJson
                },
                success: getListRespond
            });

        }

        function goExcel2(){
            var searchJson = getJsonString(listContainerID, 'search');
            var Partner = $('#Partner').val();
            $.ajax({
                url: "@Url.Action("CreateExcel")",
                async: true,
            type: "POST",
            traditional: true,
            cache: false,
            data: {
                searchJson: searchJson,
                Partner: Partner
            },
            success: function (reportHeader) {
                $("#fileHolder")
                    .attr('src',
                    '@Url.Action("ExcelResult")?reportHeader=' +
                    reportHeader);
            }        });
        }

        function goInsert() {
            if (confirm("是否新增")) {
                beforeInsertData(listContainerID);
                url = getUrl('ItemCreate');
                var InsertJson = getJsonString(listContainerID, 'input');
                $.ajax({
                    url: "@Url.Action("InsertCoupon")",
                    type: 'post',
                    dataType: 'json',
                    data: {
                        InsertJson: InsertJson
                    },
                    success: function (r) {
                        var data = r['Message'];
                        if (r['Message'] == "SUCCESS")
                            alert("新增成功!!");                        
                        else
                            alert(r['Message']);
                        getList();
                    },
                    error: function () {
                        alert("系統錯誤!!");
                        getList();
                    }
                });
            }
        }
        $('input[type=radio]').click(function () {
            if ($(this).prop("id") === "CarFeeSub") {
                $("#FixCarFeeInput").prop("disabled", "remove");
                $("#NightFeeSubInput").prop("disabled", "remove");
                $("#CarFeeSubInput").removeAttr("disabled");
                $('#FixCarFeeInput').val(0);
                $('#NightFeeSubInput').val(0);
            }
            else if ($(this).prop("id") === "FixCarFee") {
                $("#CarFeeSubInput").prop("disabled", "remove");
                $("#NightFeeSubInput").prop("disabled", "remove");
                $("#FixCarFeeInput").removeAttr("disabled");
                $('#CarFeeSubInput').val(0);
                $('#NightFeeSubInput').val(0);
            }
            else {
                $("#CarFeeSubInput").prop("disabled", "remove");
                $("#FixCarFeeInput").prop("disabled", "remove");
                $("#NightFeeSubInput").removeAttr("disabled");
                $('#CarFeeSubInput').val(0);
                $('#FixCarFeeInput').val(0);
            }
        });

    </script>