﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>新增車隊</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <br>
                    <form id="form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車隊編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="fid" name="fid"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車隊名稱
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="fnm" name="fnm"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                母公司統編
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="cno" name="cno"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                活動狀態
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="myselect" class="selectpicker">
                                    <option value="True">啟用</option>
                                    <option value="False">停用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                建立時間
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="crt" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                更新時間
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="udt" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                       

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary ordercreate" onclick="goCreate2()">新增</button>
                                <button type="button" class="btn btn-primary goback" onclick="goback2()">返回</button>
                                @*<button class="btn btn-primary" type="button">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function goCreate2()
    {
        var fid =  $('#fid').val();
        var fnm =  $('#fnm').val();
        var cno =  $('#cno').val();
        var acf = $('#myselect :selected').val();
        url = getUrl('ItemCreate');
       $.ajax({
           url: url,
           type: 'post',
           dataType: 'json',
           data: {
               id: fid,
               nm: fnm,
               cno: cno,
               acf: acf               
           },
           success: function (r) {
               var data = r['Message'];

               if (data == "Success")
               {
                   alert("車隊已新增!!");
                   goback2();
               }
               else
               {
                   alert("錯誤代號:"+data);
               }                 
           },
           error: function () {
               alert("系統錯誤!!");
           }
       });
    }
    function goback2() {
        window.location.href = '/Team';
    }
</script>