﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ivcheck.aspx.cs" Inherits="ivcheck" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>發票查詢</title>
</head>
<body>
    <form method="post" action="https://cinv.pay2go.com/API/invoice_search">             <!-- 測試環境用的網址 正式的不一樣請注意 -->
  <input type="hidden" name="MerchantID_" value="MS3446346">            <!-- 店家代號 -->
  <input type="hidden" id ="PostData_" runat="server" name="PostData_" value=""/>
  <button type="submit">查詢</button>
</form>
</body>
</html>
