﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ivcreate.aspx.cs" Inherits="ivcreate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form method="post" action="https://cinv.pay2go.com/API/invoice_issue">             <!-- 測試環境用的網址 正式的不一樣請注意 -->
  <input type="hidden" name="MerchantID_" value="32491906">            <!-- 店家代號 -->
  <input type="hidden" id ="PostData_" runat="server" name="PostData_" value=""/>
  <button type="submit">開立</button>
</form>
</body>
</html>
