﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="page2.aspx.cs" Inherits="page2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form method="post" action="https://ccore.spgateway.com/API/CreditCard">             <!-- 測試環境用的網址 正式的不一樣請注意 -->
  <input type="hidden" name="MerchantID_" value="MS3446346">            <!-- 店家代號 -->
  <input type="hidden" id ="PostData_" runat="server" name="PostData_" value=""/>
  <input type="hidden" name="Pos_" value="JSON">
  <button type="submit">付款</button>
</form>
</body>
</html>
