﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PayNowGetIV.aspx.cs" Inherits="PayNowGetIV" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" >             <!-- 測試環境用的網址 正式的不一樣請注意 -->
  <input type="hidden" name="SNO" value="">            <!-- 店家代號 -->
</form>
</body>
</html>