<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <div id="output2"></div>
    <div id="output"></div>
<input type="text" id="ItemDesc" name="ItemDesc" value="">   <br>
<input type="text" id="ItemDesc2" name="ItemDesc" value="">   <br>
<div id="results"></div>
<%=request.Form("JSONData")%></p> 
<script type="text/javascript"src="js/jquery-1.11.3.min.js"></script>

<script>
var data= $("#JSONData").val();
var data2=$("input[name=JSONData]").val();
var data3=request.Form("JSONData");
$('#ItemDesc').val($("#JSONData").val());
$('#ItemDesc2').val($("input[name=JSONData]").val());
console.log($("#JSONData").val());
console.log(data3);
console.log($("input[name=JSONData]").val());
 var x = $("form").serializeArray();
        $.each(x, function(i, field){
            $("#results").append(field.name + ":" + field.value + " ");
        });
</script>

</body>
</html>