
/* bs */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-size: inherit;
  line-height: inherit;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 9px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #b3b3b3;
}
.form-control::-webkit-input-placeholder {
  color: #b3b3b3;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}

/* form */

.form-group{
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
.form-control{
	display: inline-block;
	width: 80%;
	text-align: left;
	height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label {
    display: inline-block;
    width: 80%;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.page-title{
  display: inline-block;
  font-family: noto;
	font-size: 24px;
  text-align: center;
  margin:30px 0 5px 0;
  padding-left: 50px;
  background-image: url('../img/user-pay.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;	
}

/* list group */
.list-group {
    margin:0;
    padding: 10px 30px;
}

.list-group-item {
    position: relative;
    display: block;
    background-color: #f7f8f8;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 10px;
}
.list-group-item-heading {
    position: relative;
    height: 40px;
    margin-top: 0;
    margin-bottom: 5px;
    background-color:#54bfc6;
    color: #241916;
    padding:6px 15px;
    border-radius: 8px 8px 0 0 ;
}

.list-group-item-text1,
.list-group-item-text2{
    float: left;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1;
    color:#241916;
    padding: 3px 15px;
}

.list-group-item-text2{
  font-size: 22px;
  float: right;
  color: #fff;
}

.list-group-item-text3,
.list-group-item-text4{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 10px;
    line-height: 1.2;
    color:#241916;
    padding: 3px 15px;
}

.list-group-item-text1{
  padding-left: 40px;
  background-image: url('../img/car.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.list-group-item-text2{
  padding-left: 25px;
  background-image: url('../img/money.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain ;  
}
.list-group-item-text3{
  padding-left: 25px;
  background-image: url('../img/map.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain ;   
}
.list-group-item-text4{
  padding-left: 35px;
  background-image: url('../img/date.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain ;   
}

/*----------index--------*/

@font-face {
    font-family: Noto;
    src: url('NotoSansCJKtc-Bold.otf');
}


html,body{
  width: 100%;
  height: 100%;
  background-color: #fffbc4;
}

.wrapper1{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(12deg,#fffbc5  52%, #54bfc6 52.2%);
}

.pay{
  position: relative;
  width: 100%;
  height: 50%;
}
.history{
  position: relative;
  width: 100%;
  height: 50%;
}

.pay input,
.history input{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
    transform: translate(-50%,-50%);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #727171;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}

.pay input{
  background-image: url('../img/pay.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.history input{
  background-image: url('../img/history.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.pay input:active,
.history input:active{
  box-shadow: 2px 2px 18px rgba(0, 0, 0, .4);   
}

/*---------find&UserPay-----------*/
.wrapper2{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #54bfc6;
}

.wrapper3{
  position: relative;
  width: 100%;
  height: 100%;
}


.center{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
    transform: translate(-50%,-50%);
}

.btn-block{
  width: 100%;
  text-align: center;
}

.btn-back,
.btn-yellow{
  position: relative;
  font-family: Noto;
  font-size: 20px;
  color: #241916;
  line-height: 40px;
  padding: 0 20px;
  display: inline-block;
  background-color: #fffbc5;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
  border-radius: 5px;
  transition: .1s;
}

.btn-back{
  background-color: #54bfc6;
  color: #333;
}

.btn-back:active,
.btn-yellow:active{
  box-shadow: 2px 2px 18px rgba(0, 0, 0, .4);  
}

.btn-yellow::before{
  content: '';
  width: 120px;
  height: 120px;
  background-image: url('../img/hand.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15px;
  left: -30px;
}

.btn-pay,
.btn-cancel{
  position: relative;
  font-family: Noto;
  font-size: 20px;
  color: #241916;
  line-height: 40px;
  padding: 0 30px;
  display: inline-block;
  background-color: #fffbc5;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
  border-radius: 5px;
  transition: .1s;
  margin: 10px;
}

.btn-cancel{
  background-color: #aaa;
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fffbc5;
}

.success{
  display: inline-block;
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
}